<h1>Search for tracks by keyword</h1>
<form class="trackQuery" action="searchTrack" method="get">
<input type="text" name="trackQuery" id="trackQuery">
<input type="submit" value="Get Tracks">
</form>

<h1>Search for tracks by artist</h1>
<form class="artistTrackQuery" action="/searchArtistTracks" method="get">
<input type="text" name="artistTrackQuery" id="artistTrackQuery">
<input type="submit" value="Get Tracks">
</form>

{{#if tracks}}
<h1>Here are your tracks:</h1>
<br>
<br>
<br>
    {{#each tracks}}
      <a href="{{preview_url}}" target="_blank">
        <img src="{{album.images.1.url}}" alt="" />
      </a>
      <div>
        <p>{{name}}</p>
        <p>on:  {{album.name}}</p>
        <p>by: {{#each artists}} {{name}} {{/each}} </p>
      </div>

    {{/each}}
{{/if}}

{{#if aTracks}}
<h1>Here are your tracks:</h1>
<br>
<br>
<br>
  <ul>
    {{#each aTracks}}
        <li>{{name}}
          Album: {{album.name}}
          <p>
            by: {{#each artists}}
              {{name}}
              {{/each}}
          </p>
        </li>
    {{/each}}
  </ul>
{{/if}}
