{{#if tracks}}
<h1>Here are your tracks:</h1>
<br>
<br>
<br>
    {{#each tracks}}
      <div class="container">
        <a href="{{preview_url}}" target="_blank">
          <img src="{{album.images.1.url}}" alt="" />
        </a>
          <p>{{name}}</p>
          <p>on:  {{album.name}}</p>
          <p>by: {{#each artists}} {{name}} {{/each}} </p>
      </div>
    {{/each}}

{{/if}}

{{#if aTracks}}
<h1>Here are your tracks:</h1>
<br>
<br>
<br>
  <ul>
    {{#each aTracks}}
      <div class="container">
        <a href="{{preview_url}}" target="_blank">
          <img src="{{album.images.1.url}}" alt="" />
        </a>
      <p>{{name}}</p>
          Album: {{album.name}}
          <p>
            by: {{#each artists}}
              {{name}}
              {{/each}}
          </p>
        </li>
        </div>
    {{/each}}
  </ul>
{{/if}}
